body{
    background: whitesmoke;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    /* background: white; */
    position: absolute;
    margin: 0;
    padding: 0;
    position: absolute;
}
.log{
    width: 35%;
    height: 500px;
    background: white;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    position: relative;
    right: -70px;
    z-index: -1;
}
.regform{
    width: 35%;
    height: 500px;
    background: white;
    padding-left: 30px;
    padding-right: 30px;
}
.icon i{
    
    margin: 5px;
    background: white;
    /* border: solid 2px black; */
    padding: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #b3afaf;
}
input{
    width: 60%;
    height: 35px;
    background: rgba(219, 217, 217, 0.7);
    /* opacity: 0.3; */
    border-radius: 10px;
    /* outline:rgb(24, 111, 102) ; */
}
.reg{
    width: 35%;
    height: 500px;
    background: rgb(24, 111, 102);
    border-radius: 90px 0px 0px 90px;
    align-items: center;
    text-align: center;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}
.textreg{
    width: 35%;
    height: 500px;
    background: rgb(24, 111, 102);
    border-radius: 0px 90px 90px 0px;
    align-items: center;
    text-align: center;
    color: white;
    padding-left: 50px;
    padding-right: 50px;

    position: relative;
    right: -70px;
    z-index: 1;
}
.log h2,.reg h2,.regform h2,.textreg h2{
    margin-top: 100px;
}
form button{
    color: white;
    padding: 8px;
    width: 25%;
    background: rgb(24, 111, 102);
    border: solid 1px white;
    border-radius: 20px;
}
.reg button,.textreg button{
    color: white;
    padding: 8px;
    width: 25%;
    background: rgb(24, 111, 102);
    border: solid 1px white;
    border-radius: 20px;
    /* box-shadow: 1px 1px 1px 1px white; */
}

@media screen and (max-width: 1000px)  {
    body{
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .login{
        display: block;
        height: 100vh;
        /* width: 100%; */
        /* background: white; */
        margin: 0;
        padding: 0;
        position: absolute;
    }
    .log{
        /* width: 35%; */
        /* height: 500px; */
        background: white;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        bottom: -130px;
        z-index: -1;
    }
    .regform{
        /* width: 35%; */
        height: 500px;
        background: white;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        bottom: 140px;
        z-index: -1;
        margin-left: 90px;
    }
    .icon i{
        
        margin: 5px;
        background: white;
        /* border: solid 2px black; */
        padding: 10px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        align-items: center;
        text-align: center;
        box-shadow: 2px 2px 2px 2px #b3afaf;
    }
    input{
        width: 60%;
        height: 35px;
        background: rgba(219, 217, 217, 0.7);
        /* opacity: 0.3; */
        border-radius: 10px;
        /* outline:rgb(24, 111, 102) ; */
    }
    .reg{
        /* width: 35%; */
        height: 300px;
        background: rgb(24, 111, 102);
        border-radius: 90px 90px 0px 0px;
        align-items: center;
        text-align: center;
        color: white;
        padding-left: 50px;
        padding-right: 50px;
        margin-left: 50px;
    }
    .textreg{
        /* width: 35%; */
        height: 300px;
        background: rgb(24, 111, 102);
        border-radius: 0px 0px 90px 90px;
        align-items: center;
        text-align: center;
        color: white;
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
        right: -70px;
        z-index: 1;
    }
    .log h2,.reg h2,.regform h2,.textreg h2{
        padding-top: 100px;
    }
    form button{
        color: white;
        padding: 8px;
        width: 25%;
        background: rgb(24, 111, 102);
        border: solid 1px white;
        border-radius: 20px;
    }
    .reg button,.textreg button{
        color: white;
        padding: 8px;
        width: 25%;
        background: rgb(24, 111, 102);
        border: solid 1px white;
        border-radius: 20px;
        /* box-shadow: 1px 1px 1px 1px white; */
    }
}